.pro {
    &-box {
      display: flex;
      flex-direction: column;
      @include hover {
          .pro-hover {
              transform:translateY(0);
          }
      }
    }
    &-hover {
      position: absolute;
      bottom: 0rem;
      width: 100%;
      z-index: 5;
      left: 0;
      padding: 1.2rem;
      border-top: 0.1rem solid $color-pri;
      border-bottom: 0.1rem solid $color-pri;
      background: #fff;
      transition: 0.3s ease-in-out;
      transform:translateY(110%);

      .btn {
          display: none;
        @include max(768px) {
          display: none;
        }
      }
  
      .recheck-block {
          justify-content: center;
      }
    }
    &-img {
      padding-top: calc((950 / 716) * 100%);
      position: relative;
      overflow: hidden;
      .box {
        display: block;
        @include imgCover;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .box-hover {
        opacity: 0;
        z-index: 1;
        transition: 0.2s ease;
        position: absolute;
        inset: 0;
      }
      @include hover {
        .box-hover {
          opacity: 1;
        }
      }
    }
    &-desc {
      display: flex;
      justify-content: space-between;
      gap: 0.8rem;
      padding: 0.8rem 1.5rem;
      background: #fff;
      @include max(550px) {
        flex-direction: column;
      }
      &-right {
        padding-top: 0.3rem;
        flex-shrink: 0;
          .txt {
              @include fz-12;
              font-weight: 600;
          }
      }
    }
    &-name {
      font-weight: 600;
      @include fz-14;
      @include lc(2);

    }
    &-price {
      display: flex;
      @include fz-14;
      gap: 0.5rem;
      flex-wrap: wrap;
      @include max(768px) {
        @include fz-12;
      }
  
      &-inner {
          display: flex;
          gap: 0.5rem;
      }
    }
    &-sale {
      font-weight: 600;
    }
    &-simple {
      .pro-hover {
        .btn {
          display: flex !important;
        }
      }
    }
  }
  
  .price-odd {
      color: $color-grey;
      text-decoration: line-through;
  }
  .price-new {
      font-weight: 600;
  }