.ckout {
    &-wrap {
        padding: 6rem 0;
        overflow: hidden;
    }
    &-flex {
        display: flex;
        margin: 0 -3rem;
        @include fz-14;
        @include max(1200px) {
            margin: 0 -0.8rem;
        }
        @include max(992px) {
            flex-direction: column;
            row-gap: 2rem;
        }

        .c-black {
            color: #000;
        }
        .link {
            text-decoration:underline;
        }
    }
    &-left {
        width: 55%;
        padding: 0 3rem;
        @include max(1200px) {
            padding: 0 0.8rem;
        }
        @include max(992px) {
            width: 100%;
        }
    }
    &-right {
        flex: 1;
        padding: 0 3rem;
        @include max(1200px) {
            padding: 0 0.8rem;
        }
    }
    &-cmini {
        border: 0.1rem solid $color-txt;
        padding: 1.6rem;
        &-tag {
            border-top:  0.1rem solid $color-txt;
            margin-top: 1.6rem;
            .txt {
                line-height: 1.5;
                margin-top: 0.2rem;
                @include max(1200px) {
                    @include fz-12;
                }
            }
        }
        .cmini-option-list {
            margin-bottom: 2rem;
        }
        .cmini-list {
            max-height: 42rem;
        }
        .cmini-img {
            width: 25%;
        }
        .cmini-desc {
            display: flex;
            flex-direction: column;
        }
        .cmini-quan {
            margin-top: auto;
            flex-direction: row-reverse;
        }
        .cmini-promo-slide .swiper-slide {
            width: 75%; 
        }
    }
    &-ctn {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &-res {
        padding-bottom: 4rem;
        border-bottom: 0.1rem solid $color-txt;
    }
    &-ship {
        padding: 4rem 0;
        padding-top: 0;
    }
    &-pay {
        .recheck {
            margin-top: 2rem;
            &-block {
                display: flex;
                flex-direction: column;
                gap: 2rem;
            }
            &-item {
                border: 0.1rem solid $color-txt;
                padding: 2rem 3rem;
                justify-content: space-between;
                align-items:  center;
                transition: 0.3s ease-in-out;
                opacity: 0.5;
                @include hover {
                    opacity: 1;
                }
                @include max(992px) {
                    padding: 1.6rem;
                }
                &.active {
                    opacity: 1;
                }
            }
            &-text {
                display: flex;
                gap: 3rem;
                margin: 0;
                @include max(992px) {
                    gap: 2rem;
                }
            }
            &-radio {
                width: 2.2rem;
                height: 2.2rem;
                &::before {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
        }
        &-icon {
            @include mid-flex;
            width: 5rem;
            height: 5rem;
            flex-shrink: 0;
            @include max(768px) {
                width: 4.2rem;
                height: 4.2rem;
            }
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 0.8rem;
        }
        &-item {
            height: 2.4rem;
            img {
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &-desc {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        &-top {
            display: flex;
            align-items: center;
            @include fz-16;
            flex-wrap: wrap;
            row-gap: 0.5rem;
        }
        &-bot {
            .txt {
                @include fz-14;
                @include max(768px) {
                    @include fz-12;
                }
            }
        }
    }
    &-sale {
        color: #FF4A76;
        background:#FCE8EB;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        @include mid-flex;
        line-height: 1;
        @include fz-14;

    }
    &-done {
        display: flex;
        flex-direction: column;
        gap: 2rem;align-items: center;
        width: calc(8/12 * 100%) ;
        margin: 0 auto;
        @include max(1200px) {
            width: calc(10/12 * 100%) ;
        }
        @include max(768px) {
            width: 100%;
        }
        &-icon {
            width: 25%;
            @include mid-flex;
            @include max(768px) {
                width: 40%;
            }
            img {
                width: 100%;
                object-fit: contain;
            }
        }
        &-desc {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
        }
        &-control {
            display: flex;
            gap: 1rem;
            width: 100%;
            flex-wrap: wrap;
            justify-content: center;

            .btn {
                width: calc(50% - 0.5rem);
                @include max(500px) {
                    width: 100%;
                }
            }
        }
    }
}