.cmini {
  &-list {
    max-height: 40rem;
    overflow-y: auto;
    margin-right: -1rem;
    padding-right: 1rem;
  }
  &-item {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid #7d7d7d;
    &:last-child {
      border-bottom: none;
    }
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
  &-box {
    display: flex;
  }
  &-img {
    width: 20%;
    @include max(768px) {
      width: 25%;
    }
    .box {
      display: flex;
      position: relative;
      padding-top: calc((150 / 124) * 100%);
      overflow: hidden;
      img {
        @include imgContain;
      }
    }
  }
  &-desc {
    flex: 1;
    padding-left: 1.6rem;
    &-top {
      display: flex;
      justify-content: space-between;
    }
    &-control {
      display: flex;
      align-items: center;
    }
  }
  &-name {
    font-weight: 600;
    @include lc(2);
    @include max(768px) {
      @include fz-14;
    }
  }
  &-up {
    @include mid-flex;
    padding: 0.8rem;
    cursor: pointer;
    position: relative;
    &:before {
      right: 0;
      width: 0.1rem;
      position: absolute;
      content: "";
      height: 80%;
      background: $color-grey;
      top: 50%;
      transform: translateY(-50%);
    }
    i {
      transition: 0.3s ease-in-out;
      color: $color-grey;
    }
    @include hover {
      i {
        color: $color-black;
      }
    }
  }
  &-remove {
    @include mid-flex;
    padding: 0.8rem;
    cursor: pointer;
    i {
      transition: 0.3s ease-in-out;
      color: $color-grey;
    }
    @include hover {
      i {
        color: $color-black;
      }
    }
  }
  &-quan {
    display: flex;
    justify-content: space-between;
    margin-top: 1.2rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
  }
  &-price {
    @include max(768px) {
      @include fz-14;
    }
    &-tag {
      @include fz-12;
      color: $color-grey;
    }
  }
  &-option {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    &-list {
      display: flex;
      margin: 0 -0.6rem;
    }
    &-item {
      padding: 0 0.6rem;
      color: rgba(60, 58, 58, 0.6);
      line-height: 1.2;
      &:not(:last-child) {
        border-right: 0.1rem solid rgba(60, 58, 58, 0.6);
      }
    }
    &-txt {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
    &-op {
      display: flex;
      gap: 1rem;
      row-gap: 0.5rem;
      position: relative;
      &:not(:last-child) {
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        &:before {
          position: absolute;
          content: "";
          height: 80%;
          width: 0.1rem;
          background: $color-grey;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .sub {
        min-width: 5rem;
      }
    }
  }
  &-promo {
    padding-top: 2rem;
    border-top: 0.1rem solid $color-black;
    &-title {
      display: flex;
      gap: 0.4rem;
      align-items: center;
      @include fz-14;
      cursor: pointer;
      > .icon {
        width: 1.8rem;
        height: 1.8rem;
        flex-shrink: 0;
        @include mid-flex;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .txt {
        line-height: 1;
        color: #ff4a76;
        display: flex;
        align-items: center;
        .icon {
          @include fz-20;
          @include mid-flex;
        }
      }
      &.active {
        .txt .icon {
          display: none;
        }
      }
    }
    &-ctn {
      margin-top: 1rem;
      display: none;
    }
    &-slide {
      .swiper {
        padding: 0.2rem 0;
        margin: 0 -0.6rem;
        &-slide {
          width: 50%;
          padding: 0 0.6rem;
          @include max(768px) {
            width: 75%;
          }
          @include max(550px) {
            width: 100%;
          }
        }
      }
    }
    &-item {
      display: flex;
      border: 0.1rem solid #e0e0e0;
      transition: 0.3s ease-in-out;

      @include hover {
        border-color: $color-black;
        .cmini-promo-img .box img {
          transform: translate(-50%, -50%) scale(1.05);
        }
      }
    }
    &-img {
      width: calc(1 / 3 * 100%);

      .box {
        display: flex;
        padding-top: 100%;
        position: relative;
        overflow: hidden;
        img {
          @include imgCover;
          transition: 0.5s ease-in-out;
        }
      }
    }
    &-desc {
      padding: 1.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      @include max(400px) {
        padding: 1.2rem;
      }
      .txt {
        color: #666666;
        @include fz-12;
      }
    }
    &-name {
      @include fz-14;
      font-weight: 600;
      &::before {
        position: absolute;
        inset: 0;
        content: "";
      }
    }
  }
  &-apply {
    margin-top: 1rem;
    .ip-feild {
      display: flex;
      gap: 2rem;
      input {
        height: 4.4rem;
        padding-left: 0;
      }
    }
  }
}
.price {
  .price-odd {
    color: $color-grey;
    @include fz-12;
    text-decoration: line-through;
    margin-right: 1rem;
  }
}

.cart {
  &-empty {
    padding: 5rem 0;
    &-txt {
      text-align: center;
      font-weight: 600;
      @include fz-20;
    }
    &-img {
      display: block;
      width: 60%;
      margin: 0 auto;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
}
